package landing

import (
    "github.com/elc49/drago/ui/layouts"
    "github.com/elc49/drago/ui/pages/landing/components"
)

templ Landing() {
    @layouts.BaseLayout() {
        @components.Hero()
        @components.Tracking()
    }
}
